/* =========App.js =================== */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./img/Landing_page_2_Image.webp);
  position: fixed;
  min-width: 100%;
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.App_wrap{
  flex: 1;
}

/* =========Single Recipe Page =================== */

.singlerecipe__wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(
  35deg,
  hsl(349deg 84% 22%) 0%,
  hsl(0deg 62% 31%) 0%,
  hsl(10deg 66% 36%) 6%,
  hsl(18deg 70% 40%) 16%,
  hsl(25deg 75% 44%) 28%,
  hsl(31deg 82% 46%) 42%,
  hsl(38deg 93% 47%) 56%,
  hsl(44deg 100% 47%) 70%,
  hsl(49deg 100% 49%) 85%,
  hsl(55deg 100% 50%) 100%
);

}

.singlerecipe__header {
 
}

.singlerecipe__body_wrapper {
  display: flex;
  height: 65%;
}

.singlerecipe__body_photo {
  padding: 15px;
}

.singlerecipe__body_photo img {  
  width: 100%;
  height: 100%;  
  }  

.singlerecipe__body_context_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.singlerecipe__body_context_title {
  display: flex;
  justify-content: space-around;
}

.singlerecipe__body_ingredients {
  padding: 10px;
  overflow-y: scroll;
  width: 65%;
}

.singlerecipe__body_ingredients::-webkit-scrollbar {
  display: none;
}

.singlerecipe__body_ingredients h5 ul {
  padding-left: 20px;
}

.singlerecipe__body_instructions {
  list-style: none;
  padding: 10px;
  width: 65%;
  overflow-x: hidden;
}

.singlerecipe__body_instructions::-webkit-scrollbar {
  display: none;
}

.singlerecipe__body_instructions h5 ul {
  list-style-type: none;
  padding-left: 5px;
}

.singlerecipe__footer {
}

/* =========Category Page =================== */
.category_page a {
  text-decoration: none;

}
.category_page .item:hover {
  text-decoration: none;
  background-color: rgb(231, 228, 228);
  color:rgb(62, 61, 61);
}



/*============ Media Query ============*/

@media (max-width: 992px) {
  
  .App {
    background-size: 200%;
  }
}

@media (max-width: 576px){

  .App {
    min-height: 100%;
    height: 100vh;
    background-size: 300%;
    background-position: 50%;
  }
}