/* =========Single Recipe Page =================== */

.singlerecipe__wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.singlerecipe__header {
  border: 2px solid black;
}

.singlerecipe__body_wrapper {
  display: flex;
  border: 2px solid black;
}

.singlerecipe__body_photo {
  padding: 15px;
  border: 2px solid black;
}

.singlerecipe__body_context_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
}

.singlerecipe__body_ingredients {
  border: 2px solid black;
}

.singlerecipe__body_instructions {
  border: 2px solid black;
}

.singlerecipe__footer {
  border: 2px solid black;
}
