/* =========App.js =================== */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./img/Landing_page_2_Image.webp);
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.App_wrap{
  flex: 1;
}

/* =========Single Recipe Page =================== */

.singlerecipe__wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.singlerecipe__header {
  border: 2px solid black;
}

.singlerecipe__body_wrapper {
  display: flex;
  border: 2px solid black;
}

.singlerecipe__body_photo {
  padding: 15px;
  border: 2px solid black;
}

.singlerecipe__body_photo img {  
  width: 100%;
  height: 100%;  
  }  

.singlerecipe__body_context_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
}

.singlerecipe__body_context_title {
  
}

.singlerecipe__body_ingredients {
  border: 2px solid black;
}

.singlerecipe__body_instructions {
  border: 2px solid black;
}

.singlerecipe__footer {
  border: 2px solid black;
}

/* =========Category Page =================== */
.category_page a {
  text-decoration: none;

}
.category_page .item:hover {
  text-decoration: none;
  background-color: rgb(231, 228, 228);
  color:rgb(62, 61, 61);
}